In [2]:
import numpy as np
import pandas as pd

In [3]:
# Create data with titles:
stations = ['station1', 'station2', 'station3']
days = ['Monday', 'Tuesday']
daily_records = np.array([[12, 14, 11], [11, 12, 15]])

In [4]:
# Figure out how to turn this into a table with headings (for rows and columns):
df = pd.DataFrame(data=daily_records, index=days, columns=stations)
df

         station1  station2  station3
Monday         12        14        11
Tuesday        11        12        15

In [5]:
station_offset = np.array([[2, 1, 4]])
all_days = ['all days']

In [6]:
dfso = pd.DataFrame(data=station_offset, columns=stations, index=all_days)
dfso.reindex()
dfso

          station1  station2  station3
all days         2         1         4

In [7]:
daily_offset = np.array([1.5, 3.7])
all_stations = ['all stations']

In [9]:
dfdo = pd.DataFrame(data=daily_offset, index=days, columns=all_stations)
dfdo

         all stations
Monday            1.5
Tuesday           3.7